body {
    font-family:
     font-size:
    line-height: 
    color: 
    background-color: white;
}

ul,
ol {
 list-style-type: none;
padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
 p {
 margin: 0;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}